h1{
    font-family: "Atkinson Hyperlegible Mono", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


h2{
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

p{
    font-family: "Atkinson Hyperlegible Mono", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}